*.xcbkptlist
*.xccheckout

Pods/Pods.xcodeproj/xcuserdata/ankh.xcuserdatad/xcschemes/xcschememanagement.plist

Pods/Pods.xcodeproj/xcuserdata/ankh.xcuserdatad/xcschemes/xcschememanagement.plist

*.plist
